# Python Bytecode
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
ENV/
*.egg-info/
*.egg

# Log files
*.log

# Temporary files
*.tmp
*.temp

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

# CSV and JSON files that might contain sensitive data
static/movies_data.csv
static/movies_data.json

# Other ignored files
*.pyo
*.pyd
